<div class="wrapper">
  <app-image-frame
    src="/assets/img/city.jpg"
    [external]="true"
    class="hero"
  ></app-image-frame>

  <h1>
    We are very proud of our origin
  </h1>

  <p>
    This is where we talk about the company. About us. About the very many
    things we are doing to be a better business. The truth is, this is unique on
    a company-to-company basis.
  </p>

  <p>
    Remember to say that you are very good and, at the same time, very humble.
    That you expect growth but not extraordinary profits.
  </p>

  <p>
    Finish with a sentence that inspires the client. Something grand but
    soothing. Something like "we give you quality that will make you proud". Or
    some other lie.
  </p>

  <h2>The Team</h2>

  <div class="team">
    <div class="member">
      <img src="http://placehold.it/300x300" />
      <h5>Mr. Circle Man</h5>
      <small>CEO</small>
    </div>

    <div class="member">
      <img src="http://placehold.it/300x300" />
      <h5>Techy Circle Guy</h5>
      <small>CTO</small>
    </div>
  </div>
</div>
